body{
    width: 20rem;
    margin: 0;
}

button {
    font-family: Inter, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    border: none;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    max-inline-size: 100%;
    vertical-align: middle;
    font-weight: 500;
    padding-block: 0px;
    padding-inline: 12px;
    block-size: 40px;
    font-size: 1rem;
    line-height: 1.4286rem;
    border-radius: 6px;
    min-inline-size: 112px;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 21, 101);
    outline-color: rgb(0, 0, 0);
}

button:hover {
    text-decoration: underline;
    transform: translateY(-1px);
}
button:active {
    transform: translateY(1px);
}

button:disabled {
    cursor: not-allowed;
    color: rgb(162, 171, 186);
    background-color: rgba(211, 218, 230, 0.15);
    &:hover {
        text-decoration: none;
        transform: none;
    }
}

.numbered-textarea{
    font-family: Inter, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: rgb(52, 55, 65);
    border: none;
    box-shadow: rgba(32, 38, 47, 0.1) 0px 0px 0px 1px inset;
    background-color: rgb(249, 251, 253);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(to top, #f9fbfd, #f9fbfd 2px, transparent 2px, transparent 100%);
    line-height: 1.5;
    display: block;
    block-size: auto;
    padding: 12px;
    border-radius: 6px;
    max-inline-size: 100%;
    inline-size: 100%;
    box-sizing: border-box;
    font-weight: 400;
    resize: none;
    min-height: 15rem;
    transition: background-image 150ms ease-in, background-size 150ms ease-in, background-color 150ms ease-in;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(162, 171, 186);
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 8px;
}


.app-name {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.numbered-textarea:focus{
    background-color: rgb(255, 255, 255);
    background-size: 100% 100%;
    background-image: linear-gradient(to top, #ff1863, #ff404b 2px, transparent 2px, transparent 100%);
    outline: none;
}

.textarea-label{
    font-size: 0.8571rem;
    line-height: 1.1429rem;
    color: rgb(105, 112, 125);
    font-weight: 600;
    word-break: break-word;
    display: inline-block;
    overflow-wrap: break-word !important;
}

.keyword-textarea-container{
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.form-container{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 8px;
}